h1 {
  color:black;
  text-align: center;

}
header {
  height: 150px;
  background-image: url(heading1.png);
}
body {
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-image: url(Off-White-FV9702.jpg);
}

.active {
  background-image: url(Off-White-FV9702.jpg) ;
}
  
body {
  background-image: url(achtergrond.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}